


#shopping-cart {
    height: 50px;
    width: 100px;
    position: relative;
}




.filter {
    height: 15vh;
    width: 15vw;
    margin: 0 0 10px 0;
}

.shopping-cart-item {
    margin-bottom: 12px;
    width: 20%;
    height: 50%;
    background-size: 100% 100%;
    margin-right: 1%;
    float: left;
    position: relative;
}

.nav-item {
    align-content: center;
    justify-content: center;;
    margin-left: 10%;
    margin-right: 10%;
}

#nav-text-items {

    margin-left: 10%;
    margin-right: 10%;
    font-size: 1rem;
    font-weight: bold;
}

#navcol-1 {
    height: 10vh;
}


.menu-item {
    
    margin-bottom: 12px;
    margin-right: 1%;
    width: 25vw;
    height: 25vh;
    float: left;
    position: relative;
    transition: left 200ms ease-out, top 200ms ease-out, width 200ms ease-out, height 200ms ease-out;
}

.menu-item > img, .shopping-cart-item > img {
    display: inline-block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
    
}

.menu-item > span, .shopping-cart-item > span {
    display: inline-block;
    bottom: 5%;
    width: 100%;
    left: 0%;
}



.lunch-card{
    width: 100%;
    border-color: grey;
    margin-bottom: 2%;
    background-color: lightgrey;
    text-align: center;
    border-radius: 5px;
}



.lunch-card > *{
    display: inline-block;
}
.lunch-card-img-top{
    height: 90%;
    width: 90%;
}

.lunch-card-weekday{
    font-weight: bolder;
    font-size: 20px;
}

.lunch-card-title{
    font-weight: bold;
}
.lunch-active{
    background-color: #356a35;
    color: white;
}
.not-favourite, .favourite{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    display: block;
}

.not-favourite{
    content:url("../../img/emptystar.png");
}
.favourite {
    content:url("../../img/fullstar.png");
}

